@page "/authentication/login"

@using BlazorApp.Models;
@using Microsoft.AspNetCore.Components.Forms;

<h3>Authentification</h3>

<EditForm novalidate Model="@model" OnValidSubmit="@submit">
    <DataAnnotationsValidator />

    @*<div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <InputText @bind-Value="model.Email" class="form-control" />
            <ValidationMessage For="@(() => model.Email)" />
        </div>
    </div>*@

    <InputField Label="Email" @bind-value="model.Email" type="email" placeholder="Saisir votre email"  ValueExpression="@(() =>model.Email)" />

    <InputField Label="Mot de passe" @bind-value="model.Password" type="password" placeholder="Saisir votre mot de passe" ValueExpression="@(() =>model.Password)" />

    <div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
</EditForm>

@code {
    private LoginViewModel model = new LoginViewModel { Email = "", Password = "" };


    private void submit()
    {
        Console.WriteLine(model.Password);
    }
}
